{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href={% static 'main/img/favicon.ico' %} type="image/gif" sizes="16x16">
    <link type="text/css" rel="stylesheet" href={% static 'main/css/bootstrap.min.css' %}>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
        rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href={% static 'main/css/style.css' %}>
    {% block 'styles' %}
    {% endblock %}
</head>

{% include "main/navbar.html" %}

<body>
    {% block content %}
    {% endblock  %}
</body>

{% include "main/footer.html" %}

<script src={% static 'main/js/jquery-3.5.1.min.js' %}></script>
<script src={% static 'main/js/popper.min.js' %}></script>
<script src={% static 'main/js/bootstrap.min.js' %}></script>
<script src={% static 'main/js/wow.min.js' %}></script>
<script src={% static 'main/js/superfish.min.js' %}></script>
<script src={% static 'main/js/script.js' %}></script>

{% block 'scripts' %}
{% endblock %}

</html>