{% extends 'main/core.html' %}

{% block content %}
<div class="container">
    <h1>Welcome! <br><br> This is Hospital Dashboard, {{ hospital_name }}</h1>
    <a href="{% url 'logout' %}" class="btn btn-primary my-2">Logout</a>
    <br><br>
</div>
{% endblock content %}