{% extends 'main/core.html' %}

{% block content %}
<div class="container">
    <h1>Welcome! <br><br> This is Doctor's Dashboard</h1>
    <a href="{% url 'logout' %}" class="btn btn-primary my-2">Logout</a>
</div>
{% endblock %}