{% extends 'main/core.html' %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="display-4">Hello, This is Hospital!</h2>
                    <p>This is a template for a simple marketing or informational website. It includes a large callout
                        called a
                        jumbotron and three supporting pieces of content. Use it as a starting point to create something
                        more
                        unique.</p>
                    <div>
                        <a class="btn btn-primary" href="/register?for=hospital" role="button">Register</a>
                        <a class="btn btn-primary" href="/login" role="button">Login</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid"
                        src="https://2.bp.blogspot.com/-ZdsN8oKerqk/WMNHqVM-B9I/AAAAAAAAK7o/p5UV5tjuPvsWbBPHq2JHJy_FpnVEo9B3wCLcB/s1600/Apollo%2BDhaka.JPG">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}