{% extends 'main/core.html' %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="display-4">Hello,This is Doctor's Area</h2>
                    <p>This is a template for a simple marketing or informational website. It includes a large callout
                        called a
                        jumbotron and three supporting pieces of content. Use it as a starting point to create something
                        more
                        unique.</p>
                    <div>
                        <a class="btn btn-primary" href="/register?for=doctor" role="button">Register</a>
                        <a class="btn btn-primary" href="/login" role="button">Login</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid"
                        src="https://static.toiimg.com/thumb/msid-76714980,imgsize-1422821,width-800,height-600,resizemode-75/76714980.jpg">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}