<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>RB Hospital</strong>
            </a>
            <div class="d-flex">
                <a class="nav-link" style="color: white" href={% url 'dashboard' %}>Portal</a>
            </div>
        </div>
    </div>
</header>