{% extends 'main/core.html' %}

{% block content %}
<section class="py-3">
    <form class="container py-1" method="POST">
        {% csrf_token %}
        <div class="form-row justify-content-center">
            <div class="col-md-4">
                <h3>DOCTOR REGISTRATION</h3>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">First Name</label>
                <input type="text" class="form-control" id="validationDefault01" name="firstName" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Last Name</label>
                <input type="text" class="form-control" id="validationDefault02" name="lastName" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-4 mb-3">
                <label for="validationDefault03">Email</label>
                <input type="email" class="form-control" id="validationDefault03" name="email" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-4 mb-3">
                <label for="validationDefault04">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="validationDefault04" name="username" required>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-4 mb-3">
                <label for="validationDefault04">Password</label>
                <input type="password" class="form-control" id="validationDefault04" name="password1" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-4 mb-3">
                <label for="validationDefault05">Confirm Password</label>
                <input type="password" class="form-control" id="validationDefault05" name="password2" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-4 text-left">
                <button class="btn btn-dark align-content-center" type="submit">Register</button>
            </div>
        </div>
    </form>

    {% for message in messages%}
    <div class="container pb-4">
        <div class="row justify-content-center">
            <div class="col-md-3">
                {{message}}
            </div>
        </div>
    </div>
    {% endfor %}

</section>
{% endblock content %}